* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Seções */
main {
    margin: 20px auto;
    max-width: 800px;
}

section {
    margin-bottom: 30px;
    text-align: center;
}

section h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.8em;
}

.titulo{
    text-align: center;
}

#produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.produto img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto p {
    margin: 5px 0;
    color: #555;
}

.produto p:nth-child(3) {
    font-weight: bold;
    color: #0077cc;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: white;
    font-size: 0.9em;
}
